/* menu */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

/* botao menu */

.intro input[type=submit]{
	width: 140px;
	height: 40px;
	cursor: pointer;
	margin: 10px;
	font-size: 14px;
    font-weight: bold;
	background: dodgerblue;
	color: white;
	border: 0;
	border-radius: 20px;
}

.intro input:hover {
	transform: scale(1.2);
	transition: 0.5s;
}

.menu {
    display: flex;
    box-shadow: inset 0px -27px 40px -20px rgba(255, 255, 255, 0.75);
	background-color: rgb(114, 114, 114);
    justify-content: space-between;
    padding: 20px;
}

.menu a {
    padding: 5px;
    color: white;
    text-decoration: none; 
    font-size: large;
    font-weight: bold;
}

/* slide central */ 

.slide-central {
   display: flex;
   justify-content: center;
}

/* servicos */

.title {
    background-color: #FF6347;
    height: 200px;
}

.title h1{
    text-align: center;
    padding-top: 80px;
    color: white;
}

.box-icon {
	display: flex;
	justify-content: space-around;
	padding: 140px;
    /* background-color:blanchedalmond; */
}

.icon {
	width: 120px;
	height: 120px;
}

.content {
	display: flex;
	justify-content: center;
	padding: 40px;
}

.box-content {
	width: 200px;
	height: 200px;
	box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
	background-color: white;
    border-radius: 100px;
}

.box-content a {
	display: flex;
	justify-content: center;
    font-weight: bold;
    padding-top: 20px;
}

/* biografia */

.bio1 {
	display: flex;
	height: 200px;
}

.bio2 {
	height: 280px;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 60px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.foto1 img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 60px;
}

.foto1 img:hover {
	transform: scale(1.2);
	transition: 0.5s;
}

.foto2 img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 60px;
    display: flex;
    flex-direction: row-reverse;
}

.foto2 img:hover {
	transform: scale(1.2);
	transition: 0.5s;
    display: flex;
    flex-direction: row-reverse;
}

.desc1 {
	padding-top: 100px;
}

.desc1 h4 {
	padding-bottom: 20px;
}

.desc1 p {
	padding-right: 100px;
}

.desc2 {
	padding-top: 100px;
}

.desc2 h4 {
	padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.desc2 p {
	padding-left: 280px;
}

/*contato*/

div.contato {
	text-align: center;
	padding: 100px;
	color: #363636;
}

div.contato h2{
	padding-left: 20px;
}

div.contato li {
	list-style-type: none;
}

div.contato a {
	background-color: dodgerblue;
	padding: 12px;
	color: white;
	text-decoration: none;
	border-radius: 20px;
    font-weight: bold;
}

div.contato li:hover{
    transform: scale(1.2);
	transition: 0.5s;
}

div.contato img {
    padding-top: 40px;
	width: 100px;
	height: 200px;
	padding-bottom: 60px;
}

/* devs */

.devs {
    background-color: #FF6347;
    height: 80px;
}

.devs h1{
    text-align: center;
    padding-top: 25px;
    color: white;
}

/* call */

.call {
    background-color: #FF6347;
    height: 80px;
}

.call h1{
    text-align: center;
    padding-top: 25px;
    color: white;
}

/* rodape */

.rodape{
    width: 100%;
    height: 400px;
    background-color: blanchedalmond;
 }
 
 footer {
     background-color: #FF6347;
     padding: 20px;
     color: white;
     text-align: center;
 }
 
 footer a {
    text-decoration: none;
    color: black;
}

 /* rodapé */

.rodape {
	padding-top: 60px;
	padding-left: 40px;
	box-shadow: inset -20px 50px 50px -30px rgba(255, 255, 255, 0.75);
	background-color: rgb(114, 114, 114);
	display: flex;
}

.box-rodape {
	display: flex;
	flex-direction: column;
}

.sobre h4 {
	color: white;
}

.sobre p {
	padding-right: 400px;
	padding-top: 60px;
	color: white;
	font-size: 17px;
}

.des {
	padding-top: 100px;
	color: white;
}

.des a {
	text-decoration: none;
	color: beige;
	font-weight: bold;
}

.atendimento {
	padding-right: 40px;
	color: white;
	padding-bottom: 20px;
}

.atendimento h4 {
	padding-bottom: 20px;
}

.atendimento p {
	padding-top: 20px;
	padding-right: 40px;
	font-size: 14px;
}